body {
  margin: 0;
  padding: 0;
}

a:hover {
  cursor: pointer;
}

.search_col,
.playlist_col {
  display: inline-block;
  vertical-align: top;
}

.playlist_col {
  width: 60%;
}

.search_col {
  width: 40%;
}

/* Search Form */
.search {
  width: 100%;
  font-size: 1.4em;
  line-height: 150%;
  height: 50px;
}