body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.6em;
  color: #fff;
  font-weight: 500;
}

h2 {

}

h3 {

}


/* Header */
header {
  padding: 15px 25px;
  background: #343434;
}

header h1,
nav {
  display: inline-block;
  width: 50%;
  padding: 0;
  margin: 0;
}

nav {
  text-align: right;
}

.avatar,
#login-buttons {
  display: inline-block;
}

.avatar {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  width: 40px;
  border-color: #f95300;
  border-width: 3px;
  border-style: solid;
}

#login-buttons {
  max-width: 200px;
  margin: 0 20px 0 0;
}

/* Login */
.login-text-and-button {
  color: #f95300;
}

.login-text-and-button:hover {
  cursor: pointer;
}

.login-text-and-button > div {
  width: auto;
  display: inline-block;
}

.login-text-and-button :first-child {
  margin-right: 5px;
}

.login-text-and-button :last-child {
  margin-left: 5px;
}

a {
  color: #f95300;
}

a:hover {
  cursor: pointer;
}

section {
  display: inline-block;
  padding: 15px 25px;
  clear: both;
}

.search_col,
.playlist_col {
  display: inline-block;
  vertical-align: top;
}

.playlist_col {
  width: 59%;
  margin-left: 1%;
}

.search_col {
  width: 39%;
  margin-right: 1%;
}

/* Search Form */
.search {
  width: 98%;
  font-size: 1.4em;
  line-height: 150%;
  height: 50px;
  border: 1px solid rgb(238, 238, 238);
  padding: 1%;
}

/* Favourites */
a.favorite {
  color: black;
}

a.favorite:hover,
a.favorited {
  color: #f95300;
}

.controls {
  list-style: none;
  margin: 0;
  padding: 0;
}

.controls li {
  display: inline-block;
  font-size: 2em;
  padding: 0 15px
}
